.toggle a, .toggle a:hover {
    color: #439e47;
}
.nav.side-menu>li>a:hover,.nav>li>a:focus{background:#409444;}
.nav>li>a:focus{background:none;}
.nav.side-menu>li.active, .nav.side-menu>li.current-page {
    border-right: 5px solid #0d5c10;
}

.nav.side-menu>li.active>a {
    background: linear-gradient(#555655,#000),#262726;
}

.nav-md ul.nav.child_menu li:before {
    background: #000;
}

.nav-md ul.nav.child_menu li:after {
    border-left: 1px solid #000;
}

.nav.child_menu>li>a, .nav.side-menu>li>a {
    color: #fff;
}

.nav-sm .nav li li>a, .nav-sm .nav li li>a {
    color: #000;
}


.main_menu span.fa {
    color: #fff;
}

.icheckbox_flat-blue, .iradio_flat-blue {
    background-image: url(green.png);
}


.nav-sm .app-sm-title {
    color: #439e47;
}

.top_nav .nav .open>a, .top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover, .top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover {
   
}

.btn-success {
   background: #3ac36e;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
   background: #2fb260 !important;
}

.btn-primary {
     background: #707070;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
   background: #666666 !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #2fb260;
}

.detail a, .expand, .jqstooltip, .paging_full_numbers a:hover, .site_title:focus, .site_title:hover, a, a:focus, a:hover {
    color: #2fb260;
}
.nav_title {
    background: none;
}
.profile { color:#fff; }
.left_col {
    background: linear-gradient(to right, #5aaf5e , #439e47), #439e47;
}

.navbar-brand, .navbar-nav>li>a, .site_title {
    color: #fff !important;
}

.nav-md .app-sm-title {
    color: #439e47;
}